<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicativo de login</title>
    <!-- Link para o arquivo CSS gerado pelo Tailwind -->
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Conteúdo específico de cada página será inserido aqui -->
    {% block content %} {% endblock %}
  </body>
</html>
